-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: smart_home_aiot
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `command_logs`
--

LOCK TABLES `command_logs` WRITE;
/*!40000 ALTER TABLE `command_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `command_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `command_parameters`
--

LOCK TABLES `command_parameters` WRITE;
/*!40000 ALTER TABLE `command_parameters` DISABLE KEYS */;
/*!40000 ALTER TABLE `command_parameters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `commands`
--

LOCK TABLES `commands` WRITE;
/*!40000 ALTER TABLE `commands` DISABLE KEYS */;
/*!40000 ALTER TABLE `commands` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `device_states`
--

LOCK TABLES `device_states` WRITE;
/*!40000 ALTER TABLE `device_states` DISABLE KEYS */;
INSERT INTO `device_states` VALUES (1,1,'{\"mode\": \"cool\", \"power\": \"off\", \"fan_speed\": \"auto\", \"temperature\": 24, \"louver_angle\": \"mid\"}','2026-05-06 07:08:00'),(2,2,'{\"color\": \"white\", \"power\": \"off\", \"brightness\": 70, \"scene_name\": \"relax\", \"color_temperature\": 4000}','2026-05-06 07:08:00'),(3,3,'{\"power\": \"off\", \"volume\": 20, \"channel\": 1, \"app_name\": null, \"content_title\": null}','2026-05-20 08:08:25');
/*!40000 ALTER TABLE `device_states` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `device_types`
--

LOCK TABLES `device_types` WRITE;
/*!40000 ALTER TABLE `device_types` DISABLE KEYS */;
INSERT INTO `device_types` VALUES (1,'air_conditioner','?먯뼱而?,'?ㅻ궡 ?⑤룄, ?댁쟾 紐⑤뱶, ?띾웾, 諛붾엺 諛⑺뼢???쒖뼱?섎뒗 ?ㅻ쭏???먯뼱而?,1,'2026-05-06 07:00:05','2026-05-06 07:00:05'),(2,'light','議곕챸','?꾩썝, 諛앷린, ?됱긽, ?됱삩?? ?λ㈃ 紐⑤뱶瑜??쒖뼱?섎뒗 ?ㅻ쭏??議곕챸',1,'2026-05-06 07:00:05','2026-05-06 07:00:05'),(3,'tv','TV','?꾩썝, 蹂쇰ⅷ, 梨꾨꼸, ???ㅽ뻾, 肄섑뀗痢??ъ깮, ?낅젰 ?뚯뒪, ?뚯냼嫄곕? ?쒖뼱?섎뒗 ?ㅻ쭏??TV',1,'2026-05-20 07:57:15','2026-05-20 07:57:23');
/*!40000 ALTER TABLE `device_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `devices`
--

LOCK TABLES `devices` WRITE;
/*!40000 ALTER TABLE `devices` DISABLE KEYS */;
INSERT INTO `devices` VALUES (1,1,'living_room_aircon','嫄곗떎 ?먯뼱而?,'living_room',1,'2026-05-06 07:02:15','2026-05-06 07:02:15'),(2,2,'living_room_light','嫄곗떎 議곕챸','living_room',1,'2026-05-06 07:02:15','2026-05-06 07:02:15'),(3,3,'living_room_tv','嫄곗떎 TV','living_room',1,'2026-05-20 07:57:15','2026-05-20 07:57:23');
/*!40000 ALTER TABLE `devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `dialogue_sessions`
--

LOCK TABLES `dialogue_sessions` WRITE;
/*!40000 ALTER TABLE `dialogue_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `dialogue_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `routine_steps`
--

LOCK TABLES `routine_steps` WRITE;
/*!40000 ALTER TABLE `routine_steps` DISABLE KEYS */;
/*!40000 ALTER TABLE `routine_steps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `routines`
--

LOCK TABLES `routines` WRITE;
/*!40000 ALTER TABLE `routines` DISABLE KEYS */;
INSERT INTO `routines` VALUES (1,'sleep','?섎㈃ 紐⑤뱶','痍⑥묠???꾪빐 議곕챸???꾧퀬 ?먯뼱而⑥쓣 ??뚯쓬 ?곹깭濡??ㅼ젙?쒕떎.',1,'2026-05-06 08:01:38','2026-05-06 08:01:38'),(2,'away','?몄텧 紐⑤뱶','?몄텧 ??議곕챸怨??먯뼱而⑥쓣 紐⑤몢 ?덈떎.',1,'2026-05-06 08:01:38','2026-05-06 08:01:38'),(3,'movie','?곹솕 紐⑤뱶','?곹솕 媛먯긽??留욊쾶 TV瑜?耳쒓퀬 Netflix瑜??ㅽ뻾?섎ŉ 議곕챸怨??먯뼱而⑥쓣 議곗젙?쒕떎.',1,'2026-05-06 08:01:38','2026-05-20 08:09:23');
/*!40000 ALTER TABLE `routines` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-20 17:32:52
